@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
html, body {
	height: 100%;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	/*background: #efefef;*/
	color: #424a4d;
	/*background:  url("../pics/fundoHrz.png") repeat-x fixed;*/
	background:  url("../pics/back.jpg") repeat-x fixed;  
	background-size:1658px 1024px;	
}

#body2 {
	height: 100%;
	width: 100%;
	background: #000; //#0077B3; //#3366cc;
	opacity: 0.45;
	z-index: -999;

}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}
h1 {
	line-height: 43px
}
h2 {
	line-height: 35px
}
h3 {
	line-height: 30px
}
h4 {
	line-height: 22px
}
h3 small, h4 small, h5 small {
	font-weight: 300;
	color: #444;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #505458
}

.top-margin {
	margin-top: 40px;
}
.page-container {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
#main-content {
	left: 209px;
	right: 0;
	transition: all 0.3s ease-in-out 0s;
	position: absolute;
}
#main-content2 {
	position: absolute;
	right: 209px;
	transition: all 0.3s ease-in-out 0s;
}
#main-content3 {
	position: absolute;
	right: 210px;
	transition: all 0.3s ease-in-out 0s;
	width: 950px;
}
.page-content {
	display: inline-block;
	padding: 20px;
	width: 100%;
	margin-top: 40px;
	position: relative;
}
.page-content:after {
	clear: both;
	content: "";
	display: block;
}


.panel {
	background-color: #FFFFFF;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.merge-left {
	left: 0px!important;
}
.hide-left-bar {
	left: -210px!important;
}
.box-shadow {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow2 {
	box-shadow: 4px 0px 3px -3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.bg-danger {
	background-color: #ff482e;
	color: #FCE5E8;
}
.bg-success {
	background-color: #8EC165;
	color: #FCE5E8;
}
.changed-position {
	position: absolute!important;
}
body.container {
	border-left: 1px solid #CBD5DD;
	border-right: 1px solid #CBD5DD;
	box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
	padding: 0;
}
.hov .btn-group {
	margin-right: 10px;
	z-index: 101;
}
.hov .con {
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 20px;
	padding: 10px 15px;
	text-decoration: none;
	background: transparent!important;
}
.hov .dropdown-menu {
	border: 0 none;
	border-top-right-radius: 0;
	font-size: 12px;
	margin-top: -4px;
	border-radius: 0;
}
.hov .dropdown-menu a:hover {
	background: none;
	color: #FFFFFF;
}
.hov .label {
	border-radius: 10px;
	font-size: 8px;
	font-weight: normal;
	left: 22px;
	position: absolute;
	top: 2px;
}
.dropdown-alerts > .title {
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 320px;
}

.porlets-content {
	padding: 15px;
}
.block {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 3px;
	margin-bottom: 30px;
}
.block-web, .block-wizard {
	background: 0 #FFFFFF;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	transition: padding 500ms ease 0s;
}
.block-web.closed {
	padding-bottom: 9px;
}
.block .header, .widget-block .header, .block-web .header {
	background-color: #FEFEFE;
	border-bottom: 1px solid #DADADA;
	padding: 10px;
	transition: border 500ms ease 0s;
}
.block-web.dark-box .header, .block-web.primary-box .header, .block-web.success-box .header, .block-web.info-box .header, .block-web.danger-box .header, .block-web.warning-box .header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.block-web.closed .header {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.block .header {
	border-radius: 3px 3px 0 0;
	padding: 10px;
}
.block-web .header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: -20px -20px 10px;
	padding: 4px 18px;
}
.block-web .header.no-border {
	border: 0 none;
}
.block-web .porlets-content {
	padding: 5px 3px 0;
}
.block-web .porlets-content.full-width {
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 0;
}
.block-web .porlets-content h4 {
	font-size: 16px;
}
.block-web.no-padding .porlets-content {
	padding: 0 !important;
}
.block .header h2, .widget-block .header h2, .block-web .header h2 {
	font-size: 29px;
	font-weight: 100;
	line-height: 38px;
	margin: 0;
}
.block .header h3 {
	font-weight: 200;
	margin: 0px;
	color: #fff;
	font-size: 20px;
}
.widget-block .header h3, .block-web .header h3 {
	font-weight: 200;
	margin-top: 3px;
}
.block-web .actions, .block .actions {
	float: right;
	padding-top: 10px;
}
.block-web .actions .refresh i, .block .actions .refresh i {
	font-size: 12px;
}
.block .actions {
	padding-top: 5px;
}
.block-web .actions a {
	color: rgba(0, 0, 0, 0.3);
	margin-left: 6px;
}
.block-web .actions a:hover {
	color: rgba(0, 0, 0, 0.5);
}
.block.block-color .actions a {
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 6px;
}
.block.block-color .actions a:hover i {
	color: rgba(255, 255, 255, 0.8);
}
.block-web.dark-box .actions a {
	color: #FFFFFF;
}
.block-web.dark-box .actions a:hover {
	color: rgba(255, 255, 255, 0.5);
}
.dark-box {
	background-color: #363b3f;
	color: #FFFFFF;
}
.primary-box {
	background-color: #428bca;
	color: #FFFFFF;
}
.success-box {
	background-color: #5cb85c;
	color: #FFFFFF;
}
.info-box {
	background-color: #5bc0de;
	color: #FFFFFF;
}
.warning-box {
	background-color: #f0ad4e;
	color: #FFFFFF;
}
.danger-box {
	background-color: #d9534f;
	color: #FFFFFF;
}
.block .header.dark {
	background-color: #383A41;
	border-bottom: 0 none;
	color: #FFFFFF;
}
.dark-box h3 {
	color: #fff!important;
}
.primary-box h3 {
	color: #fff!important;
}
.info-box h3 {
	color: #fff!important;
}
.success-box h3 {
	color: #fff!important;
}
.danger-box h3 {
	color: #fff!important;
}
.dark-box i {
	color: #fff!important;
}
.primary-box i {
	color: #fff!important;
}
.info-box i {
	color: #fff!important;
}
.success-box i {
	color: #fff!important;
}
.danger-box i {
	color: #fff!important;
}
.block .header h4 {
	font-size: 15px;
	font-weight: 400;
	margin: 6px 0;
}
.block.block-color {
	border-radius: 3px;
	position: relative;
}
.block.block-color .header {
	background: #363b3f;
	border: 0 none;
	color: #FFFFFF;
}
.block.block-color.primary .header {
	background: #428bca;
	color: #FFFFFF;
}
.block.block-color.success .header {
	background: #5cb85c;
	color: #FFFFFF;
}
.block.block-color.info .header {
	background: #5bc0de;
	color: #FFFFFF;
}
.block.block-color.warning .header {
	background: #f0ad4e;
	color: #FFFFFF;
}
.block.block-color.danger .header {
	background: #d9534f;
	color: #FFFFFF;
}
.block .loading, .block-web .loading {
	background: rgba(255, 255, 255, 0.5);
	cursor: wait;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.block .loading i, .block-web .loading i {
	font-size: 26px;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	position: relative;
	top: 50%;
}
.spacer h2 {
	font-size: 26px;
	margin-bottom: 20px;
}

/*Login start*/

 .middle-login {
 	margin: auto;
	left: 28%;
	position: absolute;
	top: 22%;
	padding: 6px;
	
 }	

.login-container .block-web {
	border: 0 none;
	box-shadow: -21px 32px 40px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
}
.login-container .block-web .head {
	background: #0077B3; //#2e3236;
	border-bottom: 1px solid #ccc;
	padding: 9px 20px;
}
.login-container .block-web .head h3 {
	color: #FFFFFF;
	line-height: 35px;
	margin: 0;
	min-height: 40px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.login-container .head .logo-img {
	left: 53%;
	margin-left: -63px;
	margin-top: -20px;	
	position: absolute;
	top: 50%;
}

.login-container .block-web .contentxx {
	padding: 30px 30px 5px;
}
.login-container .block-web .content .form-control {
	height: auto;
	padding: 10px 8px;
	box-shadow: none;
}
.login-container .block-web .content .form-group {
	margin-bottom: 10px;
}
.login-container .block-web .content .title {
	margin-bottom: 20px;
	margin-top: 0;
}
.login-container .block-web .foot {
	padding: 0 30px 15px;
	text-align: right;
}
.login-container .block-web .foot .btn {
	min-width: 70px;
}
.login-container .block-web .input-group-addon {
	background: #FAFAFA;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-color: #E5E9EC;
}
.login-container .out-linksx {
	padding-right: 3px;
	margin: auto;
}

.login-container .out-links a {
	color: #2e3236;
}

/*Login end*/

.content-header {
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.btn, .ui-button, .icon-separator-vertical {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	box-shadow: none;
}
.button-content {
	overflow: hidden;
	text-overflow: ellipsis;
}
.button-content, .icon-separator {
	display: block;
	float: left;
	text-align: center;
	white-space: nowrap;
}
.button-content .float-left.glyph-icon {
	margin-right: 5px;
}
.button-content .float-right.glyph-icon {
	margin-left: 5px;
	margin-right: 0;
}
 [data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"] {
 display: none;
}

.content-header .btn {
	border-radius: 0;
}
.right-margin {
	margin-right: -6px;
}
.padd-adj {
	padding: 2px 7px;
}
.border-gray {
	border: 1px solid #ccc;
}
.block-web .bottom {
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	margin: 0px -20px -20px;
	padding: 14px 18px;
	clear: both;
}
.panel-icon-add {
	color: #CCCCCC;
	font-size: 70px;
	padding: 4px 0;
	text-align: center;
}
.zero-margin {
	margin: 0px;
}
.zero-margin h3 {
	font-size: 20px
}

.list-group-item, a.list-group-item {
	background: #fff;
	border: none;
	margin-bottom: 2px;
}
.green-bg-color {
	background: #2daba4;
	color: #fff;
}
.green-bg-color i {
	color: #fff;
}
.green-bg-color h3 {
	color: #fff;
}
.green-bg-color .list-group-item {
	background: rgba(255,255,255,0.25)!important;
	color: #fff;
}
.orange-bg-color {
	background: #f06464;
	color: #fff;
}
.blue-bg-color {
	background: #66a4d4;
	color: #fff;
}

.tab-content {
	background-color: #FFFFFF;
	margin-bottom: 18px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
	padding: 15px;
}
.tab-content > .active, .pill-content > .active {
	padding: 0px;
}
.tabs-left > .nav-tabs {
	float: left;
	margin-right: 0;
}
.tabs-right > .nav-tabs {
	float: right;
	margin-left: 0;
}

.the-icons {
	padding-top: 17px;
}
.the-icons i {
	color: #505458;
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	text-align: right;
	width: 32px;
}
.the-icons a {
	color: #505458;
	font-size: 14px;
}
.the-icons a {
	cursor: pointer;
	display: block;
	height: 32px;
	line-height: 32px;
}
.the-icons a:hover {
	text-decoration: none;
}
.the-icons a:hover .fa, .the-icons a:hover [class*="fa"] {
	font-size: 28px;
	vertical-align: -5px;
}

.btn-label {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
	display: inline-block;
	left: -12px;
	padding: 6px 12px;
	position: relative;
}
.btn-labeled {
	padding-bottom: 0;
	padding-top: 0;
}

.user-button {
	margin: 15px 0;
}
.user-button .btn {
	margin: 5px 0;
}

.fa-circle.facebook {
	color: #5471AE;
}
.fa-circle.twitter {
	color: #4EC6F6;
}
.fa-circle.gplus {
	color: #E24E3E;
}
.fa-circle.tumblr {
	color: #4D77A3;
}
.fa-circle.linkedin {
	color: #3097CE;
}
.user-profile-content {
	margin: 30px 15px;
}
.full {
	padding: 0;
}
.block-web .nav-tabs > li > a {
	border-color: -moz-use-text-color;
	border-radius: 0;
	border-style: none;
	border-width: medium;
	color: #fff;
	font-size: 14px;
	line-height: 1.42857;
	margin: 0;
	transition: all 0.4s ease 0s;
}
.block-web .nav-tabs > li > a i {
	color: #FFFFFF;
}
.block-web .media-list {
	margin-top: 30px;
}
.block-web .media-list a {
	color: #1B1E24;
}
.block-web .media-list a:hover {
	color: #212121;
	text-decoration: none;
}
.block-web .media-list .media {
	border-bottom: 1px solid #EAEAEA;
	padding: 5px 20px;
}
.block-web .media-list li.media:last-child {
	border-bottom: medium none;
}
.block-web .media-list .media .media-heading a {
	color: #1B1E24;
	font-size: 14px;
	font-weight: 600;
	margin-right: 5px;
}
.block-web .media-list .media .media-heading small {
	color: #65BD77;
	font-size: 11px;
}
.block-web .media-list .media p {
	color: #909090;
}
.block-web .media-list .media .media-object {
	width: 50px;
}
.block-web .media-list {
}
.block-web .nav-tabs > li.active > a, .block-web .nav-tabs > li.active > a:hover, .block-web .nav-tabs > li.active > a:focus {
	background-color: #FFFFFF;
	border-color: -moz-use-text-color;
	border-style: none;
	border-width: medium;
	color: #1B1E24;
	cursor: default;
}
.block-web .nav-tabs > li.active > a i, .block-web .nav-tabs > li.active > a:hover i, .block-web .nav-tabs > li.active > a:focus i {
	color: #212121;
}
.block-web .additional-box {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 99999;
}
.block-web .additional-btn {
	position: absolute;
	right: 15px;
	top: 17px;
	z-index: 99991;
}

.btn-white {
	background-color: #FFFFFF;
	border: 1px solid #E5E9EC;
	color: #5E5E5E;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
	background-color: #FBFCFD;
	border: 1px solid #B4B9BE;
}

.form .form-control {
	margin-bottom: 15px;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.inputWidth{ width:170px;}
.register-bottom {
    background: none repeat scroll 0 0 #FCFCFC;
    border-top: 1px solid #DDDDDD;
    clear: both;
    fright: 20px;
    margin: 0 -19px;
    padding: 14px 55px;
}


select {
    -moz-appearance: none;
    background: url(../images/select.png) no-repeat scroll right center / 24px 20px #FFFFFF !important;
    border: 1px solid #E1E6EF !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    color: #888888;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
}
select[disabled] {
    background-color: #F2F4F8 !important;
    color: #C0CADD;
}
select[multiple] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
select.input-lg {
    padding: 0 11px;
}
select.input-sm {
    padding: 0 12px;
}
.select2-drop {
    border: 1px solid #E1E6EF;
    border-radius: 0 0 2px 2px;
    box-shadow: none;
    color: #374767;
}
.select2-container-multi .select2-choices {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E6EF !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    margin: -7px -13px 0 !important;
}
.select2-default {
    color: #C0CADD !important;
    padding-left: 12px !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #F2F4F8;
    background-image: none;
    border: 1px solid #E1E6EF;
    border-radius: 1px;
    box-shadow: none;
    filter: none;
    font-size: 11px;
    margin: 5px 0 3px 5px;
    padding: 3px 5px 4px 18px;
}
.select2-container-multi .select2-choices .select2-search-field input {
    color: #374767;
}
@-moz-document url-prefix("") {
select {
    text-indent: 0.01px;
    text-overflow: "";
}
select.input-lg {
    padding: 10px 11px;
}
select.input-sm {
    padding: 6px 12px;
}
.select2-container-multi .select2-choices {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    margin: -3px -13px 0 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 1px 0 3px 5px;
}
}
.limiterBox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: content-box;
    background-color: #E1E6EF;
    border-color: -moz-use-text-color #E1E6EF #E1E6EF;
    border-image: none;
    border-right: 1px solid #E1E6EF;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #FFFFFF;
    font-size: 10px;
    opacity: 0.9;
    padding: 3px 6px;
}

div[data-role="editor-toolbar"] {
    -moz-user-select: none;
}
.dropdown-menu a {
    cursor: pointer;
}

#footer-login {
   text-align:right;
   position: fixed !important;
   left: 0px;
   right: 10px;
   bottom: 0px !important;
   height: 40px;
   font-size : 10px;
   color :#757575;
   /*font-family: Verdana,Arial,Helvetica,sans-serif;*/
   font-family: "Open Sans",sans-serif;
   font-weight: bold;
   margin-top:10px;
   margin:auto;
    /*css hack for IE*/
   position: absolute;
   bottom: auto;
   top: expression((parseInt(document.documentElement.clientHeight)+parseInt(document.documentElement.scrollTop)-42)+'px');
   width: expression(parseInt(document.documentElement.clientWidth)+'px');
}

.logo-img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: url(../pics/login_logo_glpi.png) no-repeat;  
	padding-left: 2%; */
}

#text-login {
	color:#fff;
	width: 530px;
	margin-bottom: 6px;
	margin-left: 10px;	
}

.block-web {
	
}

#logo_bigx {
	float: left;		
	display: inline;	
	padding-right: 16px;
	margin: 8px auto auto 8px;
	height: 220px;	
   border-right: 1px solid #ccc;
}

.logo2x {
	width: auto;
	height: auto;
	margin-top: auto;
	margin: auto;	
}

#auth {
	float: right;
	margin: auto;
	padding-right: 12px;
	margin-top: 35px;
}

.content {	
	padding: 20px 20px 10px 15px;	
}

#box-faqx {
	width: 530px;
	height: 50px;
}

#forget {
	margin-left:auto;
	margin-right: auto;	
	text-align: center;		
}

#forget a {
	color: #000;
}

.btn-primary {
  /* drop */
  border-bottom: 4px solid #286090;
  }
 
  
@media (max-width: 979px) { 

	#logo_big {
		display: none;
	}
	.middle-login {
		padding: 8px;
		margin: auto;	
		position: absolute;	
		left: 0.2%;
	}	
	#box-faq {
		float: none;
		width: 60%;
		margin: auto;
	}
	.logo-img {
		left: 5%;
	}
	#auth {
		float: none;
		width: 75%;
		margin: auto;		
	}

} 


